---
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon/components";
import { getEntry } from 'astro:content';
import CodeBlock from "../../components/CodeBlock"; // Import the CodeBlock component
import Link from "@components/Link.astro";

const colophonPost = await getEntry('stuffs', "colophon");
const { Content } = await colophonPost.render();
---

<Layout title="Colophon" description="Colophon">
  <!-- <a
    href="/"
    class="flex items-center gap-x-1 absolute group top-8 text-sage-9  dark:text-sageDark-9 z-50  "
  >
    <Icon class="group:hover:text-sage-12 dark:group-hover:text-sageDark-12 transition-colors duration-75 ease-out" name="undo-2" size={14} />
    Back
  </a> -->
  <Link href={"/"} icon={false} class="absolute top-8 text-sage-9  dark:text-sageDark-9 z-50">Back</Link>

  <header>
    <h1 class="text-xl font-medium text-sage-12 dark:text-sageDark-12">
      {colophonPost.data.title}
    </h1>
    <p class="text-sage-11 dark:text-sageDark-11">
      {colophonPost.data.description}
    </p>
  </header>
  <main class="">
    <Content />
    <section>

    </section>
  </main>
</Layout>
