---
import { Icon } from "astro-icon/components"

import MainLayout from "@layouts/MainLayout.astro";
import { getCollection, type CollectionEntry } from "astro:content";
import { extractYearAndMonth } from "@lib/utils"

export async function getStaticPaths() {
  const writings = await getCollection("writing");

  return writings.map((writing) => ({
    params: { slug: writing.slug },
    props: { writing },
  }));
}

type Props = {
  writing: CollectionEntry<"writing">;
};

const params = Astro.params

console.log(params.slug)

const { writing } = Astro.props;
const { Content } = await writing.render();
---

<MainLayout title={writing.data.title} description={writing.data.description} date={extractYearAndMonth(writing.data.date)}>
  <a href="./" class="text-zinc-400 hover:text-black z-40 absolute top-6">
    <Icon class="inline mb-0.5" name="undo-2" size={13} />
    <span>Back</span>
</a>
  <article
    class="prose prose-zinc prose-h4:text-lg prose-headings:font-medium prose-a:decoration-zinc-300 prose-a:hover:decoration-black prose-pre:border prose-pre:bg-zinc-100 prose-strong:font-medium prose-pre:border-zinc-200 prose-p:leading-6 prose-img:border prose-img:rounded-lg prose-img:border-zinc-200"
  >
    <Content />
  </article>
</MainLayout>
