---
import MainLayout from "@layouts/MainLayout.astro";
import { getCollection } from "astro:content";
import { Icon } from "astro-icon/components";
import { getSortedPosts } from "@lib/utils";
import InfoLine from "@components/InfoLine.astro";

const writings = await getCollection("writing");

const sortedWritings = getSortedPosts(writings);
---

<MainLayout title="Writings" description="To be good writer">
  <a
    href="/"
    class="text-neutral-500 dark:hover:text-white hover:text-black duration-75 z-40 absolute top-6"
  >
    <Icon class="inline mb-0.5" name="undo-2" size={13} />
    <span>Back</span>
  </a>
  <main class="grow">
    <div
    >
      {
        sortedWritings.map((writing) => (
          <InfoLine
            href={`/writings/${writing.slug}`}
            title={writing.data.title}
            date={writing.data.date}
          />
        ))
      }
    </div>
  </main>
</MainLayout>
