---
import MainLayout from '../layouts/MainLayout.astro';
import Header from "../components/Header.astro"
import About from "../components/About.astro"
import ContactBtn from "../components/ContactBtn.astro";
import Experiences from "../components/Experiences.astro";
import Projects from "../components/Projects.astro";
import Writings from "../components/Writings.astro";
---

<MainLayout title="Cleanfolio - Minimal portfolio template">
	<Header/>
	<main>
		<About/>
		<ContactBtn/>
		<Experiences/>
		<Projects/>
		<Writings/>
	</main>
</MainLayout>