---
import Layout from "@layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---

<Layout title="Crafts" description="Crafts">
  <a
    class="flex items-center gap-x-0.5 z-50 absolute duration-150 ease-out top-5 text-gray9 hover:text-gray12"
    href="/"
  >
    <Icon name="undo-2" size={14} />
    Back
  </a>
  <header>
    <h1 class="text-xl font-medium">Bookmarks</h1>
    <p class="text-gray11 mt-2"
      >
      This is a collection of resources I've found useful and interesting.  
      </p
    >
  </header>
  <main class="">
  </main>
</Layout>
