---
import { Icon } from "astro-icon/components";
---

<section class="mt-8">
  <p class="text-zinc-800">
    I am passionate developer and designer on a mission to redefine the digital
    landscape. With a background in both design and development, I bring a
    unique blend of creativity and technical expertise to every project.
  </p>
  <div class="mt-8 flex space-x-4">
    <a
      href="#"
      class="underline decoration-zinc-200 underline-offset-2 decoration-1 group hover:decoration-black duration-150"
      ><span>Github</span><Icon class=" text-zinc-400 group-hover:text-black inline duration-150" name="move-up-right" size={14} /></a
    >
    <a
      href="#"
      class="underline decoration-zinc-200 underline-offset-2 decoration-1 group hover:decoration-black duration-150"
      ><span>X</span><Icon class=" text-zinc-400 group-hover:text-black inline duration-150" name="move-up-right"  size={14}/></a
    >
    <a
      href="#"
      class="underline decoration-zinc-200 underline-offset-2 decoration-1 group hover:decoration-black duration-150"
      ><span>Facebook</span><Icon class=" text-zinc-400 group-hover:text-black inline duration-150" name="move-up-right"  size={14}/></a
    >
  </div>
</section>
