---
type exp = {
  role: string;
  company: string;
  year: string | number;
};

const exps: exp[] = [
  { role: "Freelance Developer", company: "SelfEmploy", year: "Present" },
  { role: "Frontend Engineer", company: "TechX", year: 2023 },
];
---

<section>
  <h2 class=" text-zinc-600">Experiences</h2>
  <div class="mt-4">
    {
      exps.map((exp) => (
        <div class="py-2 transition-all duration-500 overflow-hidden">
          <div class=" flex items-center space-x-2">
            <div class="text-black font-medium">
              {exp.role}
              <span class="text-zinc-400">,</span>
              {exp.company}
            </div>
            <div class=" h-px bg-zinc-100 grow"/>
            <div class=" text-zinc-600">{exp.year}</div>
          </div>
        </div>
      ))
    }
  </div>
</section>
