<footer class="py-2 mt-16">
  <div>
    <span class="text-gray9 text-sm">© 2024 Kaung Thant.</span>
  </div>
</footer>

<script>
  const themeToggle = document.querySelector("#themeToggle");

  function applyTheme(theme: "light" | "dark") {
    document.documentElement.classList.toggle("dark", theme === "dark");
    if (themeToggle) themeToggle.textContent = theme;
  }

  if (
    localStorage.theme === "dark" ||
    (!("theme" in localStorage) &&
      window.matchMedia("(prefers-color-scheme: dark)").matches)
  ) {
    applyTheme("dark");
  } else {
    applyTheme("light");
  }

  themeToggle?.addEventListener("click", () => {
    const newTheme = themeToggle?.textContent === "light" ? "dark" : "light";
    localStorage.setItem("theme", newTheme);
    applyTheme(newTheme);
  });
</script>
