<footer class=" mt-24">
  <div class=" flex justify-between">
    <div class="text-gray9 text-sm">© 2024 Kaung Thant.</div>
    <div class="text-sm text-gray9">Theme: <button id="themeToggle" class=" hover:text-gray12 cursor-pointer duration-150 ease-out underline decoration-dotted underline-offset-2 font-medium">Light</button></div>
  </div>
  {Astro.url.pathname === '/' && (
    <div class=" text-gray9 text-sm font-serif italic mt-12 ">
      From complexity, we return to simplicity's beauty.
    </div>
  )}
</footer>

<script>
  const themeToggle = document.querySelector("#themeToggle");

  function applyTheme(theme: "light" | "dark") {
    document.documentElement.classList.toggle("dark", theme === "dark");
    if (themeToggle) themeToggle.textContent = theme;
  }

  if (
    localStorage.theme === "dark" ||
    (!("theme" in localStorage) &&
      window.matchMedia("(prefers-color-scheme: dark)").matches)
  ) {
    applyTheme("dark");
  } else {
    applyTheme("light");
  }

  themeToggle?.addEventListener("click", () => {
    const newTheme = themeToggle?.textContent === "light" ? "dark" : "light";
    localStorage.setItem("theme", newTheme);
    applyTheme(newTheme);
  });
</script>
