<footer class=" mt-12 relative z-50">
  <div class="flex justify-between">
    <p class="text-neutral-600 dark:text-neutral-400">
      Theme:<button
        id="themeToggle"
        class="underline ml-1 font-medium dark:font-normal text-black decoration-dotted dark:text-white dark:decoration-neutral-700 decoration-zinc-300 hover:decoration-black dark:hover:decoration-white duration-75"
        >light</button
      >
    </p>
    <span class="text-neutral-600 dark:text-neutral-400 text-sm">© 2024 Cleanfolio.</span>
  </div>
</footer>

<script>
  const themeToggle = document.querySelector("#themeToggle");

  function applyTheme(theme: "light" | "dark") {
    document.documentElement.classList.toggle("dark", theme === "dark");
    if (themeToggle) themeToggle.textContent = theme;
  }

  if (
    localStorage.theme === "dark" ||
    (!("theme" in localStorage) &&
      window.matchMedia("(prefers-color-scheme: dark)").matches)
  ) {
    applyTheme("dark");
  } else {
    applyTheme("light");
  }

  themeToggle?.addEventListener("click", () => {
    const newTheme = themeToggle?.textContent === "light" ? "dark" : "light";
    localStorage.setItem("theme", newTheme);
    applyTheme(newTheme);
  });
</script>
