<footer class=" mt-24">
  <div class="text-sm">Theme: <button id="themeToggle" class=" hover:text-sage-12 dark:hover:text-sageDark-12 cursor-pointer duration-150 ease-out underline decoration-dotted underline-offset-2 font-medium">Dark</button></div>
    <div class="text-sage-11 dark:text-sageDark-11 text-sm mt-4">© 2024 Kaung Thant.</div>
  {Astro.url.pathname === '/' && (
    <div class=" text-sage-10 dark:text-sageDark-10 text-[15px] font-serif italic mt-12 ">
      From complexity, we return to simplicity's beauty.
    </div>
  )}
</footer>

<script>
  const themeToggle = document.querySelector("#themeToggle");

  function applyTheme(theme: "light" | "dark") {
    document.documentElement.classList.toggle("dark", theme === "dark");
    if (themeToggle) themeToggle.textContent = theme;
  }

  // Check localStorage first
  if (localStorage.theme === "light") {
    applyTheme("light");
  } else {
    // Default to dark theme if no preference is stored
    applyTheme("dark");
    localStorage.setItem("theme", "dark");
  }

  themeToggle?.addEventListener("click", () => {
    const newTheme = themeToggle?.textContent === "light" ? "dark" : "light";
    localStorage.setItem("theme", newTheme);
    applyTheme(newTheme);
  });
</script>
