<footer class="mt-28 z-40 relative h-28 md:h-10 flex items-center justify-between flex-col md:flex-row">
    <div class=" font-medium">Get in touch</div>
    <div class=" text-zinc-400">© 2024 Cleanfolio</div>
</footer>