---
import Link from "@components/Link.astro";
---

<footer class=" mt-24">
  <div class=" flex flex-col justify-between gap-y-2">
    <div class="text-gray9 text-[13px]">© 2024 Kaung Thant.</div>
    <div class="flex gap-x-4 items-center">
      <div class="text-[13px] text-gray9">Theme: <button id="themeToggle" class=" hover:text-gray12 cursor-pointer duration-150 ease-out underline decoration-dotted underline-offset-2 font-medium">Light</button></div>
      <Link href="" class="text-gray9 hover:text-gray12 cursor-pointer text-[13px] duration-150 ease-out">Colophon</Link>
    </div>
  </div>
  <div class=" text-gray8 text-sm font-serif italic mt-12 ">
    From complexity, we return to simplicity's beauty.</div>
</footer>

<script>
  const themeToggle = document.querySelector("#themeToggle");

  function applyTheme(theme: "light" | "dark") {
    document.documentElement.classList.toggle("dark", theme === "dark");
    if (themeToggle) themeToggle.textContent = theme;
  }

  if (
    localStorage.theme === "dark" ||
    (!("theme" in localStorage) &&
      window.matchMedia("(prefers-color-scheme: dark)").matches)
  ) {
    applyTheme("dark");
  } else {
    applyTheme("light");
  }

  themeToggle?.addEventListener("click", () => {
    const newTheme = themeToggle?.textContent === "light" ? "dark" : "light";
    localStorage.setItem("theme", newTheme);
    applyTheme(newTheme);
  });
</script>
