---
type Props = {
  title: string;
  description: string;
  date?: string
};

const { title, description, date } = Astro.props;
---

<header class="mb-8 flex items-center gap-x-4">
  <div>
    <h1 class=" text-xl font-medium">{title}</h1>
    <span class=" text-neutral-600 dark:text-neutral-400">{date ||description}</span>
  </div>
</header>
