---
type Props = {
  title: string;
  description: string;
  date?: string
};

const { title, description, date } = Astro.props;
---

<header>
    <h1 class=" text-lg">{title}</h1>
    <span class=" text-gray8">{date ||description}</span>
</header>

