---
import profile from "../assets/profile.jpg"
---

<header>
  <!-- <img class="rounded-xl hover:-rotate-2 duration-150" src={profile.src} alt="profile" width={56} height={56}/> -->
  <h1 class=" text-lg font-medium mt-4">Kaung Thant</h1>
  <span class=" text-zinc-600">Frontend Engineer</span>
</header>
