---
import { Icon } from "astro-icon/components";
import { extractYearAndMonth } from "@lib/utils"

type Props = {
    title: string,
    href: string,
    date: string,
}

const { title,href, date } = Astro.props
---

<a
href={href}
class=" py-1.5 cursor-pointer group flex items-center space-x-2 "

>
  <div class=" text-sage-12 dark:text-white flex items-center group-hover:underline duration-75">
    <span class="font-medium dark:font-normal">{title}</span>
    <Icon
      class="ml-0.5 opacity-0 group-hover:opacity-100 duration-75"
      name="move-up-right"
      size={14}
    />
  </div>
  <div class=" grow h-px bg-sage-10 dark:bg-sageDark-10"></div>
<span class="text-sage-12 dark:text-neutral-400 text-sm">{extractYearAndMonth(date)}</span>
</a>