---
import { Icon } from "astro-icon/components";
import { extractYearAndMonth } from "@lib/utils"

type Props = {
    title: string,
    description: string,
    href: string,
    date: string,
}

const { title, description, href, date } = Astro.props
---

<a
href={href}
class=" py-2 cursor-pointer group flex items-center space-x-1 "
>
  <div class=" font-medium text-black flex items-center group-hover:underline durantion-150">
    <span>{title}</span>
    <Icon
      class="ml-0.5 opacity-0 group-hover:opacity-100 duration-150"
      name="move-up-right"
      size={14}
    />
  </div>
<div class=" grow h-px bg-zinc-100" />
<span class="text-zinc-600">{extractYearAndMonth(date)}</span>
</a>