---
import { Icon } from "astro-icon/components";
import { extractYearAndMonth } from "@lib/utils"

type Props = {
    title: string,
    href: string,
    date: string,
}

const { title,href, date } = Astro.props
---

<a
href={href}
class=" py-2.5 cursor-pointer group flex items-center space-x-2 "

>
  <div class=" font-medium text-black dark:font-normal dark:text-white flex items-center group-hover:underline">
    <span>{title}</span>
    <Icon
      class="ml-0.5 opacity-0 group-hover:opacity-100 duration-150"
      name="move-up-right"
      size={14}
    />
  </div>
  <div class=" grow h-px bg-neutral-200 dark:bg-neutral-800"></div>
<span class="text-neutral-600 dark:text-neutral-400 text-base">{extractYearAndMonth(date)}</span>
</a>