---
type Props = {
  url: string;
};

const { url } = Astro.props;
---

<a
  href={url}
  class=" dark:text-white font-medium dark:font-normal underline cursor-pointer decoration-zinc-300 hover:decoration-black duration-75 dark:decoration-neutral-700 dark:hover:decoration-white"
>
  <slot />
</a>
