---
import { Icon } from 'astro-icon/components';

type Props = {
  href: string;
  class?: string;
  icon?: boolean
};

const { href, class: className, icon = false } = Astro.props;
---

<a
  href={href}
  class:list={[
    "underline text-gray12 inline-flex items-center font-medium underline-offset-4 gap-x-1 decoration decoration-[1.5px] decoration-gray6 hover:decoration-gray10 text-wrap duration-150 ease-out ",
    className,
  ]}
>
  <slot />
  { icon && <Icon name="move-up-right" size={12} class="text-gray6"/>}
</a>
