---
import { Icon } from "astro-icon/components";
const { name, description, path } = Astro.props
---

<a href={path} class=" py-2 cursor-pointer group">
    <div>
      <div class=" font-medium text-black flex group-hover:underline decoration-1 underline-offset-2 durantion-150">
        {name}{" "}
        <Icon
          class="mt-1 ml-0.5 opacity-0 group-hover:opacity-100 duration-150"
          name="move-up-right"
          size={14}
        />
      </div>
      <div class="  text-zinc-600">{description}</div>
    </div>
  </a>