---
import { Icon } from "astro-icon/components";

type project = {
  name: string;
  description: string;
  href: string;
  iconName: string;
  year: number;
};

const projects: project[] = [
  {
    name: "Cleanfolio",
    description: "Minimal portfolio template",
    href: "/projects/cleanfolio",
    iconName: "cleanfolio",
    year: 2024,
  },
  {
    name: "Elevate",
    description: "Ultimate tools library",
    href: "/projects/elevate",
    iconName: "elevate",
    year: 2024,
  },
];
---

<section>
  <div class="flex justify-between items-center">
    <h2 class="text-zinc-600">Projects</h2>
    <a
      href="/projects"
      class="text-zinc-400 cursor-pointer hover:text-black duration-150 flex text-sm"
      >See all
      <Icon class="mt-1 ml-0.5" name="arrow-right" size={13} />
    </a>
  </div>
  <div class="mt-4 flex flex-col">
    {
      projects.map((project) => (
        <a href={project.href} class=" py-2 cursor-pointer group flex items-center ">
          <div class=" flex mr-2">
            <span class=" font-medium text-black flex group-hover:underline decoration-1 underline-offset-2 durantion-150">
              {project.name}
              <Icon
                class="mt-1 ml-0.5 opacity-0 group-hover:opacity-100 duration-150"
                name="move-up-right"
                size={14}
              />
            </span>
            <span class="text-zinc-600">{project.description}</span>
          </div>
          <div class=" grow h-px bg-zinc-100" />
          <div class=" pl-2 text-zinc-600">{project.year}</div>
        </a>
      ))
    }
  </div>
</section>
