<div class="status">
  <div class="statusWrapper">
    <div class="statusPoint"></div>
    <div class="statusShadow"></div>
  </div>
</div>

<style>
  .status {
    position: absolute;
    top: 0;
    left: 0;
  }
  .statusPoint {
    position: relative;
    width: 8px;
    height: 8px;
    background-color: #2ad100;
    border-radius: 6px;
    border: 1px solid #2ad100;
    box-shadow: inset 0px 2px 4px #fff;
    z-index: 10;
  }
  .statusWrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .statusShadow {
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 8px;
    background-color: rgb(42, 209, 0, .5);
    filter: blur(5px);
    animation: pulse 2s ease-in-out infinite;
  }
  @keyframes pulse {
    0%,
    100% {
      scale: 1;
    }
    50% {
      scale: .5;
    }
  }
</style>
