---
import { Icon } from "astro-icon/components";

type writing = {
  title: string;
  year: number;
  month: string;
};

const writings: writing[] = [
  { title: "Starter guide for Cleanfolio", year: 2024, month: "Jun 29" },
  { title: "How to deal with markdown", year: 2024, month: "Jun 30" },
];
---

<section>
  <div class="flex justify-between items-center">
    <h2 class=" text-zinc-600">Writings</h2>
    <a
      href="/projects"
      class="text-zinc-400 cursor-pointer hover:text-black duration-150 flex text-sm"
      >See all
      <Icon
        class="mt-1 ml-0.5"
        name="arrow-right"
        size={13}
      />
    </a>
  </div>
  <div class="mt-4 flex flex-col">
    {
      writings.map((writing) => (
        <a class=" py-2 cursor-pointer group flex items-center justify-between flex-wrap">
          <span class=" font-medium text-black flex group-hover:underline decoration-1 underline-offset-2 durantion-150 mr-2">
            {writing.title}
            <Icon
              class="mt-1 ml-0.5 opacity-0 group-hover:opacity-100 duration-150"
              name="move-up-right"
              size={14}
            />
          </span>
          <div class=" grow h-px bg-zinc-100"/>
          <div class=" text-zinc-600">
            {writing.month}, {writing.year}
          </div>
        </a>
      ))
    }
  </div>
</section>
<section></section>
