---
import MainLayout from "@layouts/MainLayout.astro";
import { getCollection } from "astro:content";
import { Icon } from "astro-icon/components"
import { getSortedPosts } from "@lib/utils";
import InfoLine from "@components/InfoLine.astro"

const projects = await getCollection("project");

const sortedProjects = getSortedPosts(projects)
---

<MainLayout title="Projects" description="Products I build">
    <a href="/" class="dark:text-neutral-400 text-neutral-600 dark:hover:text-white hover:text-black z-40 absolute duration-75 top-6">
        <Icon class="inline mb-0.5" name="undo-2" size={13} />
        <span>Back</span>
    </a>
    <main class="grow">
        <div >
            {
              sortedProjects.map((project) => (
                <InfoLine
                  href={`/projects/${project.slug}`}
                  title={project.data.title}
                  date={project.data.date}
                />
              ))
            }
          </div>
    </main>
</MainLayout>
