---
import Footer from "@components/Footer.astro";
import { siteData } from "@lib/constants";

type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description || siteData.description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title || siteData.title}</title>
  </head>
  <body
    class="mx-auto max-w-2xl px-5 pt-24 flex flex-col bg-gray1 text-gray12 min-h-[100dvh] font-sans"
  >
    <div class="fixed top-0 inset-x-0 h-12 blur-mask backdrop-blur z-40"></div>
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Noto+Sans+Myanmar:wght@100;200;300;400;500;600;700;800;900&family=Noto+Serif+Myanmar:wght@100;200;300;400;500;600;700;800;900&display=swap");

  @font-face {
    font-family: "Geist Sans";
    src: url("/fonts/GeistVF.woff2") format("woff2");
  }

  @font-face {
    font-family: "Inter";
    src: url("/fonts/InterDisplay-Regular.woff2") format("woff2");
    font-weight: 400;
  }

  @font-face {
    font-family: "Inter";
    src: url("/fonts/InterDisplay-Medium.woff2") format("woff2");
    font-weight: 500;
  }

  @font-face {
    font-family: "Inter";
    src: url("/fonts/InterDisplay-SemiBold.woff2") format("woff2");
    font-weight: 600;
  }

  @font-face {
    font-family: "Inter";
    src: url("/fonts/InterDisplay-Bold.woff2") format("woff2");
    font-weight: 700;
  }

  .blur-mask {
    -webkit-mask-image: linear-gradient(white, transparent);
    mask-image: linear-gradient(white, transparent);
  }
</style>
