---
import { Icon } from "astro-icon/components";

type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="font-primary mx-auto max-w-2xl px-6 py-8 antialiased">
    <a href="./" class="text-zinc-400 hover:text-black z-40 relative">
      <Icon class="inline mb-0.5" name="undo-2" size={13} />
      <span>Back</span>
    </a>
    <h1 class="mt-[60px] font-medium text-xl">{title}</h1>
    <h2 class="text-zinc-600">{description}</h2>
    <slot />
    <div class="mask fixed w-full h-20 left-0 backdrop-blur-sm z-30 top-0 pointer-events-none"/>
    </div>
  </body>
</html>
<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");

  @font-face {
    font-family: "General Sans";
    src: url("/fonts/GeneralSans-Variable.woff2");
  }
  .mask {
    mask: linear-gradient(white, transparent);
  }
</style>